# Common
node_modules/
dist/
*.log
.DS_Store
.env*
!.env.example

# Client specific
client/node_modules/
client/dist/
client/test-results/
client/playwright-report/
client/blob-report/
client/playwright/.cache/
client/playwright/.auth/

# Server specific
server/node_modules/
server/dist/
